body{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-size: 50px;
    font-family: 'Goldman', cursive;
}
h2{
    font-size: 40px;
    font-family: 'Goldman', cursive;
}
h3{
    font-family: 'Goldman', cursive;
}
p{
    color: dimgray;
    text-align: justify;
}
/* this is color hexcode #8a2be2 */
.name-hilight{
    color: rgb(138, 43, 226);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("Image/top.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 10px;
    
}
.link-botton{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient( 45deg, lightsalmon, tomato);
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
}
.dream-area{
    background-image: url("Image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.half-width .img02{
    width: 450px;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    height: 65%;
    border-radius: 10px;
    background-color: white;
}
.p-padding{
    padding: 0px 10px;
}
.last-sec{
    background-image: url("Image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#border01{
    border-left: 10px solid;
    border-image: linear-gradient(180deg,lightsalmon, tomato);
    border-image-slice: 1;

}
#border02{
    border-left: 10px solid ;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}